{% extends "users/base2.html" %}
{% load static %}
{% block title %}@{{user.username}}'s profile{% endblock title %}
{% block metatags %}
<meta name="author" content="{{user.first_name}} {{user.last_name}}">
<meta name="og:image" content="https://fphl.org{{profile.picture.url}}" />
<meta name="og:title" content="@{{user.username}} Profile | FPHL.org" />
<meta property="og:type" content="website" />
<meta name="og:description" content="{{profile.bio}}" />
{% endblock metatags %}
{% block content %}
{% include "profiles/profile_template.html" %}
<div class="row mb-3 mx-auto mt-3">
    <h5 class="text-center">Viewed Articles</h5>
    {% if profile.show_articles == False %}
    <h4 class="text-center mb-3">@{{user.username}} chose to hide the articles he viewed 🥺</h4>
    <img src="{% static 'svgs/looking_at_window.svg' %}" class="img-fluid  w-50 mx-auto" />
    <!-- </div> -->
    {% else %}
    {% for article in articles %}
    <div class="col-md mx-auto mt-2">
        <div class="card mx-auto" style="width: 18rem;">
            <a href="{% url 'article-detail' article.article.id %}" class="text-decoration-none">
                <img src="{{article.article.image.url}}" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{article.article.title}}</h5>
                    <p class="card-text">{{article.article.description|truncatechars:20}}</p>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}