{% extends "users/base2.html" %}
{% block title %}Reset Your Password{% endblock title %}
{% block content %}
<br><br><br>
<form method="POST" class="mx-auto mb-3 text-center w-75">
    {% csrf_token %}
    <h1><i class="fa-solid fa-fingerprint"></i> Reset Your Account's Password</h1>
    <div class="mb-3">
        <label for="InputPassword" class="form-label">Current Password</label>
        <input type="password" placeholder="Enter Your Password Here" class="form-control" style="text-align: center;"
            name="old_password" id="InputPassword" required>
    </div>
    <div class="mb-3">
        <label for="InputPassword1" class="form-label">New Password</label>
        <input type="password" placeholder="Enter Your Password Here" class="form-control" style="text-align: center;"
            name="new_password1" id="InputPassword1" required>
    </div>
    <div class="mb-3">
        <label for="InputPassword2" class="form-label">Confirm New Password</label>
        <input type="password" placeholder="Enter Your Password Here" class="form-control" style="text-align: center;"
            name="new_password2" id="InputPassword2" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}